{% extends "layout.html" %}

{% block title %}
    Emails
{% endblock %}

{% block main %}
    <div class = "center-div">
        <div class="list-group-item view-email">
            <strong>Sender: {{ emailDetail.sender }}</strong>
        </div>
        <div class="list-group-item view-email">
            <strong>To: {{ emailDetail.recipient }}</strong>
        </div>
        <div class="list-group-item view-email">
            <strong>Subject: {{ emailDetail.subject }}</strong>
        </div>
        <div class="list-group-item view-email">
            <strong>Timestamp: {{ emailDetail.timestamp }}</strong>
        </div>
        <div class="list-group-item view-email">
            <strong>Body: {{ emailDetail.body }}</strong>
        </div>
        <div class="my-3">
            <form action = "reply" method="post">
                <input type="hidden" name="emailId" value="{{ emailDetail.id }}">
                <input type="submit" class="btn btn-success" value="Reply">
            </form>
        </div>
    </div>

{% endblock %}
